<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vendingmachine.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaClienteActivity">
        </activity>
        <activity
            android:name=".ListaMaquinaActivity">
        </activity>
        <activity
            android:name=".OperacoesMaquinaActivity">
        </activity>
        <activity
            android:name=".AbrirMaquinaActivity" >

            <!--
            <intent-filter>
	             <action android:name="android.intent.action.MAIN" />
	             <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".FecharMaquinaActivity" >
        </activity>
        <activity
            android:name=".ManutencaoActivity">
        </activity>
        <activity
            android:name=".OperacoesActivity" >
        </activity>
        <activity
            android:name=".AlocarMaquinaActivity" >
        </activity>
        <activity
            android:name=".ListaMaquinasPendentesActivity" >
        </activity>
        <activity
            android:name=".IncluirProdutoActivity" >
        </activity>
        <activity
            android:name=".AdicionaProdutoActivity">
        </activity>
    </application>

</manifest>